.about-container1 {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #292929;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-body {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-container2 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.about-what {
  flex: 0 0 auto;
  width: 60%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
 
.about-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
 
.about-image {
  width: 75%;
  align-self: center;
  object-fit: cover;
}
 
.about-container4 {
  width: 50%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
 
.about-container5 {
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.about-text16 {
  color: #b50000;
  width: 100%;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: underline;
}
 
.about-text17 {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Lato";
  margin-left: 0px;
  margin-right: 0px;
}
 
.about-container6 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.about-text18 {
  color: #b50000;
  width: 100%;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: underline;
}
 
.about-text19 {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Lato";
  margin-left: 0px;
  margin-right: 0px;
}
 
.about-container7 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.about-text20 {
  color: #b50000;
  width: 100%;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: underline;
}
 
.about-text21 {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Lato";
  margin-left: 0px;
  margin-right: 0px;
}
 
.about-container8 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.about-text22 {
  color: #b50000;
  width: 100%;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Lato";
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: underline;
}
 
.about-text23 {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Lato";
  margin-left: 0px;
  margin-right: 0px;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-text32 {
  display: inline-block;
}
 
.about-text33 {
  display: inline-block;
}
 
.about-text34 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .about-body {
    flex-direction: column;
    justify-content: space-between;
  }
  .about-container4 {
    width: 66%;
  }
}
 
@media(max-width: 1200px) {
  .about-body {
    align-items: flex-start;
    justify-content: space-between;
  }
}
 
@media(max-width: 991px) {
  .about-body {
    justify-content: space-between;
  }
  .about-container2 {
    flex-direction: column;
  }
  .about-what {
    width: 75%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .about-image {
    align-self: center;
  }
  .about-container4 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .about-body {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .about-what {
    width: 100%;
    align-self: center;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .about-container3 {
    width: 60%;
  }
  .about-container4 {
    width: 100%;
    margin-top: var(--dl-space-space-unit);
    margin-right: 0px;
    flex-direction: column;
  }
  .about-text16 {
    margin-left: 0px;
  }
  .about-text17 {
    margin-left: 0px;
  }
  .about-text18 {
    margin-left: 0px;
  }
  .about-text19 {
    margin-left: 0px;
  }
  .about-text20 {
    margin-left: 0px;
  }
  .about-text21 {
    margin-left: 0px;
  }
  .about-text22 {
    margin-left: 0px;
  }
  .about-text23 {
    margin-left: 0px;
  }
}
