.alex-container1 {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #292929;
}
 
.alex-text10 {
  display: inline-block;
}
 
.alex-text11 {
  display: inline-block;
}
 
.alex-text12 {
  display: inline-block;
}
 
.alex-text13 {
  display: inline-block;
}
 
.alex-text14 {
  display: inline-block;
}
 
.alex-text18 {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Noto Sans';
  line-height: 1.5;
  text-align: left;
}
 
.alex-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
 
.alex-image1 {
  width: 100%;
  object-fit: cover;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
 
.alex-image2 {
  width: 100%;
  display: none;
  object-fit: cover;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
 
.alex-text15 {
  display: inline-block;
}
 
.alex-container3 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
 
.alex-text16 {
  color: #ffffff;
  align-self: flex-start;
  text-align: left;
  font-family: "Lato";
}
 
.alex-link1 {
  text-decoration: underline;
}
 
.alex-link2 {
  text-decoration: underline;
}
 
.alex-text34 {
  display: inline-block;
}
 
.alex-text35 {
  display: inline-block;
}
 
.alex-text36 {
  display: inline-block;
}
 
.alex-text37 {
  display: inline-block;
}
 
.alex-text38 {
  display: inline-block;
}
 
.alex-text39 {
  display: inline-block;
}
 
.alex-text40 {
  display: inline-block;
}
 
.alex-text41 {
  display: inline-block;
}
 
.alex-text42 {
  display: inline-block;
}
 
.alex-text43 {
  display: inline-block;
}
 
.alex-text44 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .alex-container2 {
    flex-direction: column;
    justify-content: space-between;
  }
}
 
@media(max-width: 1200px) {
  .alex-container2 {
    align-items: flex-start;
    justify-content: space-between;
  }
}
 
@media(max-width: 991px) {
  .alex-container2 {
    justify-content: space-between;
  }
  .alex-container3 {
    margin-right: 40px;
  }
}
 
@media(max-width: 767px) {
  .alex-container2 {
    flex-direction: column;
  }
  .alex-image1 {
    width: 100%;
    max-width: 100%;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .alex-image2 {
    width: 100%;
    max-width: 100%;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .alex-container3 {
    width: 100%;
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .alex-image1 {
    width: 100%;
    display: none;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .alex-image2 {
    width: 100%;
    display: flex;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .alex-container3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
